body {
    margin: 0;
}
.header {
    width: 100%; 
    height: 85px; 
    background-color: #000000;
}
.home_back {
    width: 100%; 
    height: 500px; 
    background-color: bisque;
    position: relative;
}
.home_sel {
    width: 1000px; 
    height: 210px; 
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.but_auto {
    width: 125px; 
    height: 30px; 
    border-radius: 5px;
    background-color: rgb(147, 140, 140);
    text-align: center;
    line-height: 30px;
    color: white;
    margin-top: 25px;
    margin-left: 50px;
    float: left;
}
.but_trans {
    float: left;
    width: 125px; 
    height: 30px; 
    border-radius: 5px;
    background-color: rgb(147, 140, 140);
    text-align: center;
    line-height: 30px;
    color: white;
   margin-top: 25px;
   margin-left: 35px;
}
.search {
    width:900px;
    height:110px;
    background-color: aqua;
    margin-left: 50px;
    margin-top: 85px;
    text-align: center;
    line-height: 110px;
}
.text1 {
    height:450px;
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.footer {
    width: 100%; 
    height: 70px; 
    background-color: #000000;
}